.slides{
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 300px; */
    height: 300px;
    width: 500px;
    overflow: auto;
    margin: 0 auto;
}
div[class^="slide-image"]{
    /* width: 100%; */
    width: 500px;
    height: 100%;
    overflow: hidden;

    background-color: green;
    margin: 0 10px;
}